# Relatório de Análise V

## Tratamento de Dados Faltantes

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('data/aluguel.csv', sep= ';')

In [16]:
dados.isnull()

        Tipo  Bairro  Quartos  Vagas  Suites   Area  Valor  Condominio   IPTU
0      False   False    False  False   False  False  False       False  False
1      False   False    False  False   False  False  False        True   True
2      False   False    False  False   False  False  False       False  False
3      False   False    False  False   False  False  False       False  False
4      False   False    False  False   False  False  False       False   True
...      ...     ...      ...    ...     ...    ...    ...         ...    ...
32955  False   False    False  False   False  False  False       False  False
32956  False   False    False  False   False  False  False       False  False
32957  False   False    False  False   False  False  False       False  False
32958  False   False    False  False   False  False  False       False   True
32959  False   False    False  False   False  False  False       False  False

[32943 rows x 9 columns]

In [22]:
dados.notnull()

       Tipo  Bairro  Quartos  Vagas  Suites  Area  Valor  Condominio   IPTU
0      True    True     True   True    True  True   True        True   True
1      True    True     True   True    True  True   True       False  False
2      True    True     True   True    True  True   True        True   True
3      True    True     True   True    True  True   True        True   True
4      True    True     True   True    True  True   True        True  False
...     ...     ...      ...    ...     ...   ...    ...         ...    ...
32955  True    True     True   True    True  True   True        True   True
32956  True    True     True   True    True  True   True        True   True
32957  True    True     True   True    True  True   True        True   True
32958  True    True     True   True    True  True   True        True  False
32959  True    True     True   True    True  True   True        True   True

[32943 rows x 9 columns]

In [18]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32943 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32943 non-null  object
 1   Bairro      32943 non-null  object
 2   Quartos     32943 non-null  int64
 3   Vagas       32943 non-null  int64
 4   Suites      32943 non-null  int64
 5   Area        32943 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28854 non-null  float64
 8   IPTU        22716 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.5+ MB

In [19]:
dados[dados['Valor'].isnull()]

Empty DataFrame
Columns: [Tipo, Bairro, Quartos, Vagas, Suites, Area, Valor, Condominio, IPTU]
Index: []

In [20]:
A = dados.shape[0]
dados.dropna(subset = ['Valor'], inplace = True)
B = dados.shape[0]
A - B

0

In [23]:
dados[dados['Condominio'].isnull()].shape[0]

4089

In [24]:
selecao = (dados['Tipo'] == 'Apartamento') & (dados['Condominio'].isnull())

In [26]:
A = dados.shape[0]
dados = dados[~selecao]
B = dados.shape[0]
A - B

745

In [27]:
dados[dados['Condominio'].isnull()].shape[0]

3344

In [30]:
dados = dados.fillna({'Condominio': 0, 'IPTU':0})

In [31]:
dados[dados['Condominio'].isnull()].shape[0]

0

In [33]:
dados[dados['IPTU'].isnull()].shape[0]

0

In [34]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32198 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32198 non-null  object
 1   Bairro      32198 non-null  object
 2   Quartos     32198 non-null  int64
 3   Vagas       32198 non-null  int64
 4   Suites      32198 non-null  int64
 5   Area        32198 non-null  int64
 6   Valor       32198 non-null  float64
 7   Condominio  32198 non-null  float64
 8   IPTU        32198 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.5+ MB

## Exportando Dados

In [35]:
dados.to_csv('data/aluguel.csv', sep= ';', index = False)